    {{#if}}
    <h1>Would you like to access one of your previous gamerooms?</h1>
        <ul>
            {{#each}}
            <li>
                
            </li>
            {{/each}}
        </ul>
    {{/if}}