    <header>
        <h1>ZOOM-TAC-TOE</h1>
    </header>
    <form class="create-game">
        <div>
            <h1>Would you like to create a gameroom?</h1>
            <label for="create-game">Gameroom Name:</label><br>
            <input type="text" id="create-game" name="create-game">
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>

    {{> gameroomList}}

    <script src="/javascript/dashboard.js"></script>
