<header>
  <h1>ZOOM-TAC-TOE</h1>
</header>
<form class="create-game">
  <div>
    <h1>Create a gameroom!</h1>
    <label for="create-game">Gameroom Name:</label><br />
    <input type="text" id="create-game" name="create-game" />
  </div>
  <div>
    <button type="submit" class="create-button">Create</button>
  </div>
</form>

<script src="/javascript/dashboard.js"></script>