    <header>
        <h1>ZOOM-TAC-TOE</h1>
    </header>
    <main>
        <div>
            <button class="new-gameroom" type="submit">Create a new gameroom!</button>
        </div>
        <div>
            <h1>Your previous Gamerooms:</h1>
        </div>
    </main>

    <script src="/javascript/dashboard.js"></script>
