    <header>
        <h1>ZOOM-TAC-TOE</h1>
    </header>
    <div>
        <form class="username column">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username">
        </form>
        <form class="password column">
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password">
        </form>
        <div class="columns">
            <div class="buttons column is-one-third">
                <a href="/game">
                    <button class="button1">Create New Game</button>
                </a>
            </div>
            <div class="buttons column is-one-third">
                <a href="/game">
                    <button class="button2">Join Existing Game</button>
                </a>
            </div>
            <div class="buttons column is-one-third">
                <a href="/game">
                    <button class="button3">Join Random Game</button>
                </a>
            </div>
        </div>
    </div>